*.pyc
*.pyo
__pycache__

fastrlock/*.c

MANIFEST
build/
dist/
releases/
cython_debug/
wheelhouse/
.idea/
.git/
.coverage
.tox
.hg
.cache
.hgignore
*.egg-info
*.orig
*.rej
*.dep
*.swp
*.pdb
*.so
*.o
*.pyd
*~
